/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section, article {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

h1, h3 {
    margin: 0;
}

ul, ol {
    margin-top: 0;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0066cc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: #fff;
}

tfoot td {
    background-color: #f0f0f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

/* Estilos específicos para los elementos del HTML */
h1 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

audio,
video {
    display: block;
    margin: 10px auto;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

iframe {
    display: block;
    margin: 10px auto;
}

ul li,
ol li {
    font-size: 1.2em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}